.container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}
  
.item {
    display: flex;
    flex: 0 0 auto;
}

.header{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    margin: 0;
}
  