.mainSection1{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 41px;
}

.listItem{
  display: flex;
  flex: 1 1 300px;
  height: 400px;
  background-color: blueviolet;
  margin: 20px;
}

@media screen and (max-width: 1019px) {
  .listItem {
    flex: 1 1 calc((1020px / 4) - 40px);
    height: 300px;
  }
}

@media screen and (max-width: 919px){
  .listItem {
    flex: 1 1 190px;
    height: 300px;
  }
}